<span><b><h5>Term & Condition</h5></b></span>
<ul style="list-style-type: circle; color:#000000;">
    <li>Promo berlau untuk transaksi yang dilakukan di aplikasi terbaru #PROVIDER#</li>
    <br/>
    <li>Gunakan #VOUCHER_CODE# untuk dapatkan cashback sebesar #PERCENT_CASHBACK#</li>
    <br/>
    <li>Pencairan dana selain bank BCA akan dikenakan biaya admin Rp. 5000</li>
    <br/>
    <li>Promo hanya berlaku untuk transaksi yang menggunakan metode pengiriman J&T Express & Ninja Express (REG dan FAST)</li>
    <br/>
    <li>Setiap pengguna bisa menggunakan promo sebanyak 1 (satu) kali per hari dan maksimal 2 (dua) kali selama masa periode promo</li>
    <br/>
    <li>Promo bisa dilakukan untuk belanja produk kategori apa saja yang ada di #PROVIDER#, kecuali kategori tiket dan voucher, produk virtual
        (pulsa, paket data, voucher game, listrik prabayar & pascabayar, tiket event, tiket pesawat, tiket kereta, pembayaran zakat online, pembayaran tagihan listrik, air PDAM, dan BPJS)
    dan produk keuangan (Buka Emas & Buka Reksa)</li>
</ul>